[include mainsail.cfg]

[mcu]
restart_method: command
serial: /dev/serial0
baud: 115200

[verify_heater extruder]
check_gain_time: 600

[gcode_button pwr_button]
pin: PE1 # PE1(142) pin connected to the power relay board trought con1
press_gcode: SET_PIN PIN=system_power VALUE=0

[virtual_sdcard]
path: ~/gcode_files

[display_status]
[pause_resume]

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 2000
square_corner_velocity: 3
max_z_velocity: 12
max_z_accel: 5

[stepper_x]
step_pin: PE5
dir_pin: PF1
enable_pin: !PF0
microsteps: 16
rotation_distance: 33.9975
endstop_pin: !PC15
position_endstop: 275
position_min: 0
position_max: 275
homing_retract_dist: 10
homing_speed: 30
second_homing_speed: 10

[stepper_y]
step_pin: PF9
dir_pin: PF3
enable_pin: !PF5
microsteps: 16
rotation_distance: 33.9995
endstop_pin: !PC14
position_endstop: 200
position_max: 200
position_min: 0
homing_retract_dist: 10
homing_speed: 30
second_homing_speed: 10

[stepper_z]
step_pin: PA6
dir_pin: PF15
enable_pin: !PA5
microsteps: 16
rotation_distance: 7.9672
endstop_pin: !PC13
#position_endstop: 209
position_max: 209
position_min: -5
homing_retract_dist: 5
homing_speed: 12
second_homing_speed: 1

[stepper_z1]
step_pin: PD12
dir_pin: PG4
enable_pin: !PG5
microsteps: 16
rotation_distance: 7.9672
endstop_pin: !PE6

[extruder]
step_pin: PB1 # PB1(47) pin connected to the step pin of the stepper driver
dir_pin: PF13 # PF13(53) pin connected to the direction pin of the stepper driver
enable_pin: !PF14 # PF14(54) pin connected to the enable pin of the stepper driver
microsteps: 16
rotation_distance: 5.580071152533529 # 573.46939 E steps calculated at https://3dprintbeginner.com/rotation-distance-calculator/
nozzle_diameter: 0.400
filament_diameter: 1.750
pressure_advance: 0.1075
pressure_advance_smooth_time: 0.040
heater_pin: PG0 # PG0(48) pin connected to Q5 gate to the extuder heater
sensor_type: MAX6675
spi_bus: spi2
sensor_pin: PD13 # PD13(82) pin connected to the MAX6675 pin 6 Chip select
min_extrude_temp: 170
min_temp: 0
max_temp: 290
max_extrude_only_distance: 300
#control: pid
#pid_Kp: 43.290
#pid_Ki: 4.655
#pid_Kd: 100.650

[heater_bed]
heater_pin: !PB2 # PB2(48) pin connected to Q6 and Q8 gate to the heater bed
sensor_type: EPCOS 100K B57560G104F # Type of sensor - common thermistors
sensor_pin: PC2 # PC2(28) pin connected to the green connector of the heater bed
min_temp: 0
max_temp: 130
smooth_time: 2
#control: pid
#pid_Kp: 74.202
#pid_Ki: 2.498
#pid_Kd: 550.949

[bed_screws]
screw1: 135,185
screw1_name: Back Middle
screw2: 240,15
screw2_name: Front Right
screw3: 15,15
screw3_name: Front Left

[bed_mesh]
speed: 120
horizontal_move_z: 2
mesh_min: 10, 10
mesh_max: 250, 190
probe_count: 6, 6

[heater_fan hotend_fan]
pin: PB6 # PB6(136) pin connected to Q15 gate to the hotend Fan
fan_speed: 0.9 # 100% fan speed causes PID tuning to fail for my Mosquito hotend and 50W heater
heater: extruder

[fan]
pin: PD7 # PD7(123) pin connected to Q3 gate to the Print cooling cooling Fan
max_power: 1
off_below: 0.1

[fan_generic chamber_fan]
pin: PG7 # PG7(92) pin connected to Q11 gate to the Circulating Chamber Fans.
max_power: 1
off_below: 0.25

[output_pin beeper]
pin: PA8 # PA8(100) pin connected to Q2 gate to the speaker
pwm: True # A piezo beeper needs a PWM signal, a DC buzzer doesn't.
value: 0
shutdown_value: 0
cycle_time: 0.001 # PWM frequency : 0.001s 1kHz
scale: 10

[led caselight]
white_pin: PF10 # PF10(142) pin connected to Q3 gate to the LED strip
initial_WHITE: 1.0


[output_pin system_power]
pin: PE0
value: 1
shutdown_value: 1 # This keeps the QIDI power relay active so the board doesn't turn off

[gcode_button pwr_button]
pin: PE1 # PE1(100) pin connected to the power relay board trough CN1
press_gcode: SET_PIN PIN=system_power VALUE=0

[gcode_macro CASELIGHT_ON]
gcode:
    {% set intensity = params.BRIGHTNESS | default(1) | float %}
    SET_LED LED=caselight WHITE={intensity}

[gcode_macro CASELIGHT_OFF]
gcode:
    SET_LED LED=caselight WHITE=0.0

[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    BASE_CANCEL_PRINT

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
gcode:
  {% set E = params.E|default(1.7)|float %}
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  SAVE_GCODE_STATE NAME=PAUSE_state
  BASE_PAUSE
  G91
  G1 E-{E} F2100
  G1 Z{z_safe} F900
  G90
  G0 X{x_park} Y{y_park} F6000
  G91

[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    {% set E = params.E|default(1)|float %} # edit to your preferred retract length
    G91
    G1 E{E} F2100
    G90
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1
    BASE_RESUME

[gcode_macro RETRACT]
gcode:
  {% set f = params.F|default(600)|float %}

  {% if 'D' in params %}
    {% if printer.idle_timeout.state == "Printing" and not printer.pause_resume.is_paused %}
      {action_respond_info("This command cannot be used while printing")}
    {% elif printer.extruder.temperature < 170 %}
      {action_respond_info("Extruder temperature too low")}
    {% else %}
      SAVE_GCODE_STATE NAME=RETRACT_state
      M83
      G1 E-{params.D} F{f}
      RESTORE_GCODE_STATE NAME=RETRACT_state MOVE=0
    {% endif %}
  {% endif %}


[gcode_macro M300]
gcode:
    {% set S = params.S|default(1000)|int %}
    {% set P = params.P|default(100)|int %}
    SET_PIN PIN=beeper VALUE=0.5 CYCLE_TIME={ 1.0/S if S > 0 else 1 }
    G4 P{P}
    SET_PIN PIN=beeper VALUE=0

[gcode_macro LOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    {% set mid_x = printer.configfile.settings['stepper_x'].position_max / 2 %}
    {% set mid_y = printer.configfile.settings['stepper_y'].position_max / 2 %}
    M300
    G92 E0
    G1 E55 F{max_velocity}
    G1 E15 F{speed}
    M300
    M300
    M82

[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    {% set mid_x = printer.configfile.settings['stepper_x'].position_max / 2 %}
    {% set mid_y = printer.configfile.settings['stepper_y'].position_max / 2 %}
    M300
    G1 X{mid_x} Y{mid_y} Z150
    G91
    G92 E0
    G1 E15 F{speed}
    G1 E-75 F{max_velocity}
    M300
    M300
    M82

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(190)|float %}
    # Start bed heating
    M140 S{BED_TEMP}
    # Use absolute coordinates
    G90
    # Home the printer
    G28
    # Wait for bed to reach temperature
    M190 S{BED_TEMP}
    # Set and wait for nozzle to reach temperature
    M109 S{EXTRUDER_TEMP}

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91
    G1 X-2 Y-2 E-3 F300
    # Retract out of hotend
    G1 E-2 F2700
    G1 E-10 Z0.2 F2400
    # Raise nozzle by 50mm
    G1 Z50 F3000
    G90
    # Disable steppers
    M84

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 21.950
#*# pid_ki = 1.126
#*# pid_kd = 107.006
#*#
#*# [heater_bed]
#*# pid_kp = 74.834
#*# pid_ki = 2.053
#*# pid_kd = 681.929
#*# control = pid
#*#
#*# [stepper_z]
#*# position_endstop = 205.066
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.159739, 0.090026, 0.017823, 0.020313, 0.097495, 0.209534
#*# 	0.199575, 0.057659, -0.012054, -0.009564, 0.119903, 0.229452
#*# 	0.189616, 0.060149, -0.012054, -0.012054, 0.097495, 0.219493
#*# 	0.249370, 0.099985, 0.017823, 0.017823, 0.129862, 0.259329
#*# 	0.299165, 0.169698, 0.119903, 0.119903, 0.209534, 0.378837
#*# 	0.368878, 0.309124, 0.239411, 0.229452, 0.358919, 0.398755
#*# tension = 0.2
#*# min_x = 10.0
#*# algo = lagrange
#*# y_count = 6
#*# mesh_y_pps = 2
#*# min_y = 10.0
#*# x_count = 6
#*# max_y = 190.0
#*# mesh_x_pps = 2
#*# max_x = 250.0
